/* Loan Star CSS Styles */ 

.navbar-default{
    background-color: #FFFFFF;
}

.navbar-brand img{ 
    height: 50px; 

}

 iframe{
    
   padding-left: 75px;
   padding-top:10px;
}

.page-scroll h1{
   color: black;
   }


.navbar-brand{
    padding-top: 0px;
}


.jumbotron{
    height: 350px;
    background-color: white;
    border-style: inset;
    border-width: 15px;
    
}

.jumbotron h1{
   color: black;
   font-family: courier-new;
   }

.jumbotron p{
    font-size: 1.250em;
}

.jumbotron h5{
    color: green;
}

.jumbotron h3{
    color: red;
    padding-top: 0px;
}




.terms-section h1{
    color: #133695;
}

.btn{
    background-color: #133695;
}

.panel .panel-heading{
    /* background-color: #133695; */
}

.panel .panel-heading h2{
    

}

.panel-body {
    font-size: 1.250em;
    line-height: 1.250em;
}

.process-section h1{
    font-size: 3.000em;
    color:  #133695;
 
    
}

.contact-section input{
    width: 400px;
}

.contact-section h1{
    color: black;
}

.contact-section label{
    color: black;
}

.contact-section form{
    padding-top: 30px;
}



    








 
 




	





    
